@use '../abstracts/' as abstracts;

.plan-card {
  & + & {
    margin-top: 24px;
  }

  @include abstracts.tablet {
    & + & {
      margin-top: 0;
    }
  }

  @include abstracts.PC {
    & + & {
      margin-top: 0;
    }
    width: 100%;

    max-width: 360px;
  }

  width: 220px;
  margin: 0 auto;
  padding: 28px 40px;
  background: linear-gradient(
    224.09deg,
    rgba(255, 255, 255, 0.7) 5.13%,
    rgba(255, 255, 255, 7e-5) 90.88%
  );
  background-blend-mode: soft-light;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);

  @include abstracts.flex(center, center, column);

  &.platinum {
    background: linear-gradient(
      223.49deg,
      rgba(0, 0, 0, 0.0001) 4.85%,
      rgba(0, 0, 0, 0.401127) 96.5%
    );
    background-blend-mode: multiply;
  }

  &.gold-color {
    position: relative;
    z-index: 1;
    background-color: abstracts.$first-pimary;

    .plan-card__name {
      color: abstracts.$second-pimary;
    }

    .plan-card__button {
      color: #fff;
      background-color: abstracts.$second-pimary;
    }
  }

  &__name {
    font-size: 12px;
    font-weight: 400;
    color: abstracts.$first-pimary;
    text-transform: uppercase;

    @include abstracts.tablet {
      margin-bottom: 8px;
    }

    @include abstracts.PC {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__prices {
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    text-align: center;
    position: relative;

    @include abstracts.tablet {
      font-size: 36px;
    }

    @include abstracts.PC {
      font-size: 64px;
      line-height: 48px;
      margin-bottom: 15px;
    }

    .prices-unit {
      position: absolute;
      top: 10px;
      left: -12px;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;

      @include abstracts.PC {
        font-size: 24px;
        line-height: 28px;
        left: -20px;
        top: 0;
      }
    }
  }

  &__year {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin-bottom: 14px;

    @include abstracts.PC {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__desc {
    color: #fff;
    @include abstracts.flex(center, center, column);

    .desc {
      text-align: center;
      font-weight: 400;
      font-size: 11px;

      @include abstracts.PC {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .desc + .desc {
      margin-top: 4px;
    }
  }

  &__button {
    margin-top: 24px;
    display: block;
    width: 100%;
    border: none;
    padding: 9px 0;
    border-radius: 50px;
    font-size: 11px;
    line-height: 13px;
    font-family: 'Roboto';
    letter-spacing: 1px;
    cursor: pointer;
    background-color: abstracts.$first-pimary;

    @include abstracts.PC {
      font-size: 16px;
      line-height: 19px;
      width: 165px;
    }
  }
}
