@use '../abstracts/' as abstracts;

.section-3 {
  padding: 52px 50px 42px 50px;
  background-color: abstracts.$second-pimary;

  @include abstracts.tablet {
    padding: 56px 24px 80px 24px;
  }

  &__title {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;

    @include abstracts.tablet {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__card {
    @include abstracts.tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
  }
}
