@use '../abstracts/' as abstracts;

.section-4 {
  padding: 42px 40px 56px 40px;
  text-align: center;
  @include abstracts.flex(center, center, column);

  @include abstracts.PC {
    padding: 100px 250px 83px 250px;
  }

  &__wrapper {
    position: relative;

    .section-4__next,
    .section-4__prev {
      position: absolute;
      top: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      display: none;

      @include abstracts.PC {
        display: block;
      }
    }

    .section-4__next {
      right: -140px;
    }

    .section-4__prev {
      left: -140px;
    }
  }

  &__avatar {
    margin-left: auto;
    margin-right: auto;
    $img-width: 87.72px;
    width: $img-width;
    height: $img-width;
    margin-bottom: 10.28px;

    @include abstracts.tablet {
      $img-width: 104px;
      width: $img-width;
      height: $img-width;
    }

    @include abstracts.PC {
      $img-width: 172px;
      width: $img-width;
      height: $img-width;
      margin-bottom: 28px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;

    @include abstracts.PC {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;

    @include abstracts.tablet {
      max-width: 470px;
    }

    @include abstracts.PC {
      max-width: 555px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 53px;
    }
  }

  &__dots {
    @include abstracts.flex(center, center);
    gap: 23px;

    .dot-item {
      $dot-width: 8px;
      display: block;
      width: $dot-width;
      height: $dot-width;
      background-color: abstracts.$second-pimary;
      border-radius: 50%;
      position: relative;
      z-index: 1;

      @include abstracts.PC {
        $dot-width: 14px;
        width: $dot-width;
        height: $dot-width;
      }

      &.dot-item--no-active {
        &::after {
          $dot-inner-width: 4px;
          content: '';
          display: block;
          position: absolute;
          width: $dot-inner-width;
          height: $dot-inner-width;
          background-color: #fff;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;

          @include abstracts.PC {
            $dot-inner-width: 10px;
            width: $dot-inner-width;
            height: $dot-inner-width;
          }
        }
      }
    }
  }
}
