<section class="section-5">
  <include
    src="./components/title.html"
    locals='{
    "title":  "Advantages",
    "className":  "section-5__title"
  }'
  ></include>

  <p class="section-5__description">
    One more thing! Any time we start something new it is exciting and we are very motivated and
    committed.
  </p>

  <include
    src="./components/advance-card.html"
    locals='{
    "imgPath": "../assets/images/section-5/safe.png",
    "imgAlt": "Safe",
    "className": "",
    "cardName": "SECURE",
    "cardTitle": "YOUR DATA IS PROTECTED",
    "cardDescription": "No matter how far along you are in your sophistication as an amateur astronomer…"
  }'
  ></include>

  <include
    src="./components/advance-card.html"
    locals='{
    "imgPath": "../assets/images/section-5/aesthetic.png",
    "imgAlt": "Aesthetic",
    "className": "",
    "cardName": "AESTHETIC",
    "cardTitle": "UNIQUE DESIGN",
    "cardDescription": "Acres of Diamonds… you’ve read the famous story, or at least had it related to you."
  }'
  ></include>

  <include
    src="./components/advance-card.html"
    locals='{
    "imgPath": "../assets/images/section-5/neat-icon.png",
    "imgAlt": "NEAT",
    "className": "",
    "cardName": "NEAT",
    "cardTitle": "ACCURATE IN DETAILS",
    "cardDescription": "Some days a motivational quote can provide a quick pick-me-up."
  }'
  ></include>
</section>
