<section class="section-4">
  <figure class="section-4__avatar">
    <img src="../assets/images/section_4/avatar.png" alt="Person" class="avatar-img" />
  </figure>
  <h4 class="section-4__title">Ida Stephens — Noir Project</h4>
  <div class="section-4__description">
    “Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is
    difficult at best. However, communication is a necessary tool in todays world. It’s often been
    the case were one party completely miscommunicates to another due to a misunderstanding between
    parties.”
  </div>
  <div class="section-4__dots">
    <span class="dot-item dot-item--no-active"></span>
    <span class="dot-item dot-item--no-active"></span>
    <span class="dot-item"></span>
    <span class="dot-item dot-item--no-active"></span>
    <span class="dot-item dot-item--no-active"></span>
  </div>
</section>
