<section class="section-4">
  <div class="section-4__wrapper">
    <figure class="section-4__avatar">
      <img src="../assets/images/section_4/avatar.png" alt="Person" class="avatar-img" />
    </figure>
    <h4 class="section-4__title">Ida Stephens — Noir Project</h4>
    <div class="section-4__description">
      “Conversations can be a tricky business. Sometimes, decoding what is said with what is meant
      is difficult at best. However, communication is a necessary tool in todays world. It’s often
      been the case were one party completely miscommunicates to another due to a misunderstanding
      between parties.”
    </div>
    <div class="section-4__dots">
      <span class="dot-item dot-item--no-active"></span>
      <span class="dot-item dot-item--no-active"></span>
      <span class="dot-item"></span>
      <span class="dot-item dot-item--no-active"></span>
      <span class="dot-item dot-item--no-active"></span>
    </div>

    <div class="section-4__prev">
      <svg
        width="66"
        height="66"
        viewBox="0 0 66 66"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M33 65C50.6731 65 65 50.6731 65 33C65 15.3269 50.6731 1 33 1C15.3269 1 1 15.3269 1 33C1 50.6731 15.3269 65 33 65Z"
          fill="white"
          stroke="#E6E6E6"
          stroke-width="2"
        />
        <path d="M37 21L25 33L37 45" stroke="#7D7D7D" stroke-width="4" stroke-linecap="round" />
      </svg>
    </div>
    <div class="section-4__next">
      <svg
        width="66"
        height="66"
        viewBox="0 0 66 66"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M33 65C15.3269 65 1 50.6731 1 33C1 15.3269 15.3269 1 33 1C50.6731 1 65 15.3269 65 33C65 50.6731 50.6731 65 33 65Z"
          fill="white"
          stroke="#E6E6E6"
          stroke-width="2"
        />
        <path d="M29 21L41 33L29 45" stroke="#7D7D7D" stroke-width="4" stroke-linecap="round" />
      </svg>
    </div>
  </div>
</section>
