<section class="section-2">
  <include
    src="./components/title.html"
    locals='{
    "className": "section-2__title",
    "title": "Our Team"
  }'
  ></include>

  <div class="section-2__members">
    <include
      src="./components/member.html"
      locals='{
    "imgPath": "../assets/images/member/person_0.png",
    "imgAlt": "Person 0",
    "memberName": "Craig Todd",
    "memberJob": "CEO",
    "memberDescription": "Like the majority of sales people, I visit a huge number of clients and prospects every month"
  }'
    ></include>

    <include
      src="./components/member.html"
      locals='{
    "imgPath": "../assets/images/member/person_1.png",
    "imgAlt": "Person 1",
    "memberName": "Jennie Graham",
    "memberJob": "UX/UI Designer",
    "memberDescription": "WordPress Version 2 0 3 Review"
  }'
    ></include>

    <include
      src="./components/member.html"
      locals='{
    "imgPath": "../assets/images/member/person_2.png",
    "imgAlt": "Person 2",
    "memberName": "Chase Meyer",
    "memberJob": "Front-end Developer",
    "memberDescription": "Search Engine Optimization And Advertising"
  }'
    ></include>

    <include
      src="./components/member.html"
      locals='{
    "imgPath": "../assets/images/member/person_3.png",
    "imgAlt": "Person 3",
    "memberName": "Vera Hopkins",
    "memberJob": "UX Lead",
    "memberDescription": "Differentiate Yourself And Attract More Attention Sales And Profits"
  }'
    ></include>

    <include
      src="./components/member.html"
      locals='{
    "imgPath": "../assets/images/member/person_4.png",
    "imgAlt": "Person 4",
    "memberName": "Eunice Wong",
    "memberJob": "Marketing consultant",
    "memberDescription": "Advertising Internet Online Opportunities To Explore"
  }'
    ></include>

    <include
      src="./components/member.html"
      locals='{
    "imgPath": "../assets/images/member/person_5.png",
    "imgAlt": "Person 5",
    "memberName": "Johnny Vargas",
    "memberJob": "Back-end Developer",
    "memberDescription": "Maintain Your PC S Performance With PC Programs"
  }'
    ></include>
  </div>
</section>
