<form class="sign-up-form">
  <h1 class="sign-up-form__title">SIGN UP</h1>

  <div class="sign-up-form__input">
    <input type="text" placeholder="Email" class="input-email" />
  </div>

  <div class="sign-up-form__input">
    <input type="text" placeholder="Password" class="input-email" />
  </div>

  <div class="sign-up-form__input">
    <input type="text" placeholder="Confirm Password" class="input-email" />
  </div>

  <p class="sign-up-form__offer">Already Have an account?</p>

  <button class="sign-up-form-button">SIGN UP</button>
</form>
