@use '../abstracts/' as abstracts;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  color: abstracts.$second-pimary;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  object-fit: cover;
}
