@use './variables' as v;

@mixin tablet {
  @media screen and (min-width: calc(v.$mobile-width + 1px)) and (max-width: v.$tablet-width) {
    @content;
  }
}

@mixin PC {
  @media screen and (min-width: calc(v.$tablet-width + 1px)) {
    @content;
  }
}

@mixin flex($align: flex-start, $justify: flex-start, $direction: row, $wrap: nowrap, $gap: 0) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin bg-img($url: '') {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
